node_modules/
.env
*.log
.DS_Store
package-lock.json
yarn.lock
logs/
dist/
build/
.vscode/
.idea/
.upload/
tintucraw/*
logs/*
build_version/
upload/
*.xlsx
import_errors.json
import_errors.xlsx
node_modules.zip
dist - Copy/
*.exe

